2-orchestration-kestra/flow.yml
id: science_production_ingestion
namespace: project 
description: "Ingesta de CrossRef a GCS y carga directa a BigQuery"

variables:
  file_name: "science_production.jsonl" # Cambiamos a JSONL
  gcs_full_path: "gs://{{kv('GCP_BUCKET_NAME')}}/raw/{{vars.file_name}}"
    
tasks:
  - id: process_data
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: True  
    commands:
      - python extract_science_production_data.py 
    beforeCommands:
      - pip install requests # Ya no necesitas pandas aquí, lo cual lo hace más ligero
    outputFiles:
      - "*.jsonl"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.process_data.outputFiles['science_production.jsonl'] }}"
    to: "{{vars.gcs_full_path}}"
    
  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.Load
    # USAMOS 'from' porque el archivo está en la memoria temporal de Kestra
    from: "{{ outputs.process_data.outputFiles['science_production.jsonl'] }}"
    destinationTable: "{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.raw_science_production"
    format: JSON 
    emcoding: UTF-8
    autodetect: true
    writeDisposition: WRITE_TRUNCATE
    ignoreUnknownValues: true

  - id: purge_temp
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
  
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"